<div class="container pt-5">
  <h1 class="pb-5"> Tus acortadores</h1>

    <table class="table table-sm table-dark table-hover">
        <thead class="text-center font-weight-bolder">
          <tr>
            <th scope="col">Url</th>
            <th scope="col">Acortador</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>
              <button class="btn-sm btn-primary"> Abrir link </button>
            </td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
                <button class="btn-sm btn-primary"> Abrir link </button>
              </td>
          </tr>
          <tr>
            <td>Larry</td>
            <td>the Bird</td>
            <td>
                <button class="btn-sm btn-primary"> Abrir link </button>
              </td>
          </tr>
        </tbody>
      </table>
</div>